<!DOCTYPE html>
<html>

<head>
    <title>Create Artwork</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <h1>Create Artwork</h1>
        <form action="/artwork" method="post">
            <div>
                <label>Title: <input type="text" name="title" required /></label>
            </div>
            <div>
                <label>Medium: <input type="text" name="medium" required /></label>
            </div>
            <div>
                <label>Dimensions: <input type="text" name="dimension" required /></label>
            </div>
            <div>
                <label>Creation Date: <input type="text" name="creationDate" required /></label>
            </div>
            <div>
                <label>Price: <input type="number" name="price" required /></label>
            </div>
            <div>
                <label>Availability Status: <input type="text" name="availabilityStatus" required /></label>
            </div>
            <div>
                <label>Artist ID (MongoDB ObjectId): <input type="text" name="artistId" /></label>
            </div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
    <footer>
        <div> Made by Yuting</div>
    </footer>
</body>

</html>